<%= render 'shared/nav_bar' %>

<div class="dashboard">
  <% unless current_user.valid? %>
    <div class="dashboard__topper bg-ice-one">
      <div class="container d-flex flex-column flex-sm-row align-items-center px-30 px-md-15">
        <div class="text-bigger text-dark-blue text-center text-md-left mt-30 mt-sm-0">
          <%= t 'dashboard.index.your_personal_details_completed' %>
        </div>
        <%= link_to(
          t(:complete),
          profile_path,
          class: "btn btn-primary ml-sm-30 my-15 my-sm-20")
        %>
      </div>
    </div>
  <% end %>

  <section class="steps container px-sm-0 mb-15 mb-sm-120">
    <div class="h2 mt-30 mb-15 px-15">
      <%= t 'welcome' %> <%= current_user.first_name %>
    </div>

    <% @steps.each_with_index do |step, index| %>
      <% step_count = index + 1 %>

      <%= content_tag :div,
        class: "steps__row dashboard__row #{dashboard_row_helper(current_user, step)}" do
      %>
        <div class="steps__row-main steps__row-main_deeper d-block d-md-flex">
          <div class="d-flex align-items-center w-100 mb-15 mb-md-0">
            <i class="icon__num mr-12"> <%= index + 1 %> </i>
            <div class="mr-auto">
              <%= step.title %>
            </div>
            <%=
              content_tag :i,
              nil,
              class: "icon__i icon__i_popover mr-md-60 ml-auto",
              tabindex: 0,
              role: :button,
              data: {
                toggle: :popover,
                trigger: :focus,
                placement: :bottom,
                html: :true,
                content: step.popover
              }
            %>
          </div>

          <% if step_reviewed?(current_user, step) %>
            <div class="d-flex w-100 mb-15 mb-md-0">
              <i class="icon_placeholder mr-2"></i>
              <div class="mr-auto">
                <%= t(:reviewed) %>
              </div>
              <%=
                content_tag :div,
                nil,
                class: "mr-md-3",
                data: {
                  time: "#{step_review(current_user, step).updated_at.strftime("%A, %^B %-d, %Y")}"
                }
              %>
            </div>

            <div class="d-flex justify-content-end mnw-120">
              <%= link_to(
                  step_one_button(step_count),
                  consent_form_path(surveystep: step_count),
                  class: "btn btn-primary"
                )
              %>
            </div>
          <% else %>

          <div class="d-flex w-100 mb-15 mb-md-0">
            <i class="icon_placeholder mr-2"></i>
            <div class="mr-auto">
              <%= t 'dashboard.index.review_required' %>
            </div>
            <div class="mr-md-3"> - </div>
          </div>

          <div class="d-flex justify-content-end mnw-120">
            <%= link_to(
              t(:review),
              consent_form_path(surveystep: step_count),
              class: "btn btn-primary"
            )
            %>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="col-12">
        <%= link_to t('dashboard.index.view_responses'), survey_responses_path(format: :pdf),
          class: 'btn btn-primary btn-sm float-right mt-3', target: '_blank'
        %>
      </div>
    </div>
  </section>
</div>
