<div class="container my-15 my-sm-180">
  <div class="row flex-column">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="bg-white border px-15">
        <!--inject:../components/html/header-modal.html-->
        <%= render partial: 'layouts/header-modal' %>
        <%= simple_form_for @user, defaults: {input_html: {class: 'form-control mb-0'}} do |f| %>
          <div class="form-row">
            <div class="col-12 col-sm-6 pr-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :first_name, label: false, placeholder: t('user_profile.first_name'), required: false %>
              </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :family_name, label: false, placeholder: t('user_profile.family_name'), required: false %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :email, label: false, placeholder: t(:email) %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12 col-sm-6 pr-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :password, label: false, placeholder: t(:password) %>
              </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :password_confirmation, label: false, placeholder: t(:reenter_password) %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :dob, as: :string, label: t('user_profile.date_of_birth'), placeholder: 'DD-MM-YYYY', required: false, input_html: { class: 'form-control', autocomplete: "off", id: "date-of-birth" } %>
              </div>
              <div id="custom-pos"></div>
            </div>
          </div>

          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :study_id, label: false, placeholder: t('user_profile.study_id'), required: false %>
              </div>
            </div>
          </div>

          <% if @next_of_kin_needed_to_register %>
          <div id="kin">
            <b><%= t('user_profile.next_of_kin') %></b><br>
            </br>

            <div class="form-row">
              <div class="col-12 col-sm-6 pr-sm-3 mb-30">
                <div class="position-relative">
                  <%= f.input :kin_first_name, label: false, placeholder: t('user_profile.first_name'), required: false %>
                </div>
              </div>
              <div class="col-12 col-sm-6 pl-sm-3 mb-30">
                <div class="position-relative">
                  <%= f.input :kin_family_name, label: false, placeholder: t('user_profile.family_name'), required: false %>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col mb-30">
                <div class="position-relative">
                  <%= f.input :kin_email, label: false, placeholder: t(:email) %>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <div class="col mb-30" align="center">
            <label class="controls controls__checkbox controls__checkbox_blue">
              <%= f.check_box :terms_and_conditions, hidden: :hidden, errors: true %>

              <%=
                t(
                  'user_registration.i_agree_to_the',
                  terms_and_conditions_link: link_to(
                    t('user_registration.terms_and_conditions'),
                    'https://www.australiangenomics.org.au/terms-and-conditions/ctrl-platform-terms-and-conditions/'
                  )
                ).html_safe
              %>
              <span class="checkmark terms-and-conditions"></span>
            </label>

            <div class="error">
              <% if @user.errors.messages[:terms_and_conditions].present? %>
                <%= @user.errors.messages[:terms_and_conditions][0] = t('user_registration.you_must_agree_to_register') %>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <button
              type="submit"
              class="btn btn-primary mb-30 mx-auto"
            >
              <%= t 'user_registration.register_now' %>
            </button>
          </div>
        <% end %>
      </div>
      <div class="mx-auto text-center py-3 bg-light d-flex flex-column flex-sm-row justify-content-center">
        <span class="d-block">
          <%= t 'user_registration.if_you_already_have_account' %>
        </span>
        <%= link_to t(:log_in), new_session_path(@user), class: "d-block ml-2 mt-2 mt-sm-0" %>
      </div>
      <div class="mx-auto text-center py-3 bg-light d-flex flex-column flex-sm-row justify-content-center">
        <%= link_to t('user_registration.ctrl_privacy_policy'), 'https://www.australiangenomics.org.au/website-privacy-policies/ctrl-platform-privacy-policy/', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
