<div class="container my-15 my-sm-180">
  <div class="row flex-column">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="bg-white border px-15">
        <!--inject:../components/html/header-modal.html-->
        <%= render partial: 'layouts/header-modal' %>
        <%= simple_form_for @user, defaults: {input_html: {class: 'form-control mb-0'}} do |f| %>
          <div class="form-row">
            <div class="col-12 col-sm-6 pr-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :first_name, label: false, placeholder: 'First Name', required: false%>
              </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :family_name, label: false, placeholder: 'Family Name', required: false%>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :email, label: false, placeholder: 'Email'%>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12 col-sm-6 pr-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :password, label: false, placeholder: 'Password'%>
              </div>
            </div>
            <div class="col-12 col-sm-6 pl-sm-3 mb-30">
              <div class="position-relative">
                <%= f.input :password_confirmation, label: false, placeholder: 'Re-enter Password'%>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :study_id, label: false, placeholder: 'Study ID', required: false %>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <button
            type="submit"
            class="btn btn-primary mb-30 mx-auto"
            >
              Register Now
            </button>
          </div>

        <% end %>
      </div>
      <div class="mx-auto text-center py-3 bg-light d-flex flex-column flex-sm-row justify-content-center">
                <span class="d-block">
                    If you already have an account, please
                </span>
        <%= link_to "Log in", new_session_path(@user), class: "d-block ml-2 mt-2 mt-sm-0" %>
      </div>
      <div class="mx-auto text-center py-3 bg-light d-flex flex-column flex-sm-row justify-content-center">
        <%= link_to 'MCRI Privacy Policy', 'https://www.mcri.edu.au/privacy-policy', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
