<h2>Register</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :middle_name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :submit %>
<% end %>

  <%= devise_error_messages! %>

<%= render "devise/shared/links" %>
