<h2>Register</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :family_name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :flagship, :collection => User.flagships.keys, include_blank: false, include_hidden: false %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :submit, 'Register Now' %>
<% end %>

  <%= devise_error_messages! %>

If you already have an account, please <%= link_to "Log in", new_session_path(@user) %>
