<body class="bg-dark">
  <div class="container my-15 my-sm-45">
    <div class="row flex-column">
      <div class="steps__submitting col-12 mx-auto">
        <div class="bg-ice-one border px-20">
          <div class="mt-20">

            <div class="d-flex">
              <i class="icon__check-big mx-auto"></i>
            </div>

            <h3 class="text-center mt-20 mb-15">
              <%= t 'consent.confirm_answers.you_have_agreed_to_take_test' %>
            </h3>
            <div class="d-flex mb-20">
              <p class="step2__text text-center mx-auto mb-0">
                <%= t 'consent.confirm_answers.if_you_dont_want_the_test' %>
              </p>
            </div>
            <div class="d-sm-flex flex-sm-row-reverse justify-content-center">
              <% if params[:to_dashboard] %>
                <%= link_to(t(:confirm), dashboard_index_path, class: "btn btn-success d-block d-sm-inline-block mb-15") %>
                <%= link_to(t(:review_answers), step_two_path(from_dashboard: true), class: "btn btn-outline-success d-block d-sm-inline-block mb-15 mr-sm-15") %>
              <% else %>
                <%= link_to(t(:confirm), step_three_path(registration_step_three: true), class: "btn btn-success d-block d-sm-inline-block mb-15") %>
                <%= link_to(t(:review_answers), step_two_path(registration_step_two: true), class: "btn btn-outline-success d-block d-sm-inline-block mb-15 mr-sm-15") %>
              <% end %>
            </div>

            <p class="subtext mb-20 mb-sm-30">
              <span>
                <%= t 'consent.confirm_answers.please_click_confirm' %>
              </span>
              <br>
              <span>
                <%= t 'consent.confirm_answers.please_click_review_answers' %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
