<body class="bg-dark">
  <div class="container my-15 my-sm-45">
    <div class="row flex-column">
      <div class="steps__submitting col-12 mx-auto">
        <div class="bg-ice-one border px-20">
          <div class="mt-20">
            <div class="d-flex">
              <i class="icon__warn-big mx-auto"></i>
            </div>
            <h3 class="text-center mt-20 mb-15">
              <% if params[:from_step_three] %>
                <%= t('consent.review_answers.are_you_sure_part_research').html_safe %>
              <% else %>
                <%= t 'consent.review_answers.are_you_sure_take_test' %>
              <% end %>
            </h3>
            <div class="d-flex mb-20">
              <p class="step2__text text-center mx-auto mb-0">
                <% if params[:from_step_three] %>
                  <%= t 'consent.review_answers.you_have_not_selected_all_vresearch' %>
                <% else %>
                  <%= t 'consent.review_answers.you_have_not_selected_all_vgenomic' %>
                <% end %>
              </p>
            </div>
            <p class="step2__text text-center mx-auto">
              <%= t 'consent.review_answers.if_you_choose' %>
              <% if params[:from_step_three] %>
                “<%= t 'consent.review_answers.i_dont_want_to_take_part' %>”
              <% else %>
                “<%= t 'consent.review_answers.i_dont_want_the_test' %>”
              <% end %>
              <%= t 'consent.review_answers.an_au_counsellor_will_contact' %>
            </p>

            <div class="d-sm-flex flex-sm-row-reverse justify-content-center">
              <% if params[:to_dashboard] && params[:from_step_two] %>
                <%= link_to(t(:review_answers), step_two_path(from_dashboard: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
                <%= link_to(t('consent.review_answers.i_dont_want_the_test'), notification_consent_path, class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
              <% end %>
              <% if params[:to_dashboard_from_three] %>
                <%= link_to(t(:review_answers), step_three_path(from_dashboard: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
                <%= link_to("I don't want to take part", notification_consent_path(from_step_three: true), class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
              <% elsif params[:from_step_two] && !params[:to_dashboard] %>
                <%= link_to(t(:review_answers), step_two_path(registration_step_two: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
                <%= link_to(t('consent.review_answers.i_dont_want_the_test'), notification_consent_path, class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
              <% elsif params[:from_step_three] %>
                <%= link_to(t(:review_answers), step_three_path(registration_step_three: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
                <%= link_to(t('consent.review_answers.i_dont_want_to_take_part'), notification_consent_path(from_step_three: true), class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
              <% end %>
            </div>

            <p class="subtext mb-20 mb-sm-30">
              <span>
                <%= t 'consent.review_answers.please_click_review_answers' %>
              </span>
              <br>
              <span>
              <%= t :click %>
              <% if params[:from_step_three] %>
                <%= t 'consent.review_answers.click_i_dont_want_to_take_part' %>
              <% else %>
                <%= t 'consent.review_answers.click_i_dont_want_the_test' %>
              <% end %>
              </span>
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
