<body class="bg-dark">


<div class="container my-15 my-sm-45">
  <div class="row flex-column">
    <div class="steps__submitting col-12 mx-auto">
      <div class="bg-ice-one border px-20">
        <div class="mt-20">

          <div class="d-flex">
            <i class="icon__warn-big mx-auto"></i>
          </div>

          <h3 class="text-center mt-20 mb-15">
            <% if params[:from_step_three] %>
              Are you sure you don’t want to be part of the<br> research project?
            <% else %>
              Are you sure you don’t want the test?
            <% end %>
          </h3>
          <div class="d-flex mb-20">
            <p class="step2__text text-center mx-auto mb-0">
              <% if params[:from_step_three] %>
                You have not selected all statements, which means you have not agreed to be part of the research
                project.
              <% else %>
                You have not selected all statements, which means you have not agreed to have genomic testing.
              <% end %>
            </p>
          </div>
          <p class="step2__text text-center mx-auto">
            If you choose
            <% if params[:from_step_three] %> “I don't want to take part”
            <% else %>
              “I don't want the test”
            <% end %>an Australian Genomics Genetic Counsellor will contact you to talk
            about your options.
            It may take 7 days for the study genetic counsellor to contact you.
          </p>

          <div class="d-sm-flex flex-sm-row-reverse justify-content-center">
            <% if params[:to_dashboard] && params[:from_step_two] %>
              <%= link_to("Review Answers", step_two_path(from_dashboard: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
              <%= link_to("I don't want the test", notification_consent_path, class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
            <% end %>
            <% if params[:to_dashboard_from_three] %>
              <%= link_to("Review Answers", step_three_path(from_dashboard: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
              <%= link_to("I don't want to take part", notification_consent_path(from_step_three: true), class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
            <% elsif params[:from_step_two] && !params[:to_dashboard] %>
              <%= link_to("Review Answers", step_two_path(registration_step_two: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
              <%= link_to("I don't want the test", notification_consent_path, class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
            <% elsif params[:from_step_three] %>
              <%= link_to("Review Answers", step_three_path(registration_step_three: true), class: "btn d-block d-sm-inline-block mb-15 blue-btn-active") %>
              <%= link_to("I don't want to take part", notification_consent_path(from_step_three: true), class: "btn d-block d-sm-inline-block mb-15 mr-sm-15 blue-btn") %>
              <%# end %>
            <% end %>
          </div>

          <p class="subtext mb-20 mb-sm-30">
                        <span>
                            Please click “Review Answers” if
                            you would like to go back and
                            change your responses.
                        </span>
            <br>
            <span>
                            Click <% if params[:from_step_three] %> “I don't want to take part”
                <% else %>“I don’t want the test” <% end %> if
                            you do not want to take part in the research project.
                        </span>
            <br>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
</body>