<% if params[:registration_step_two] %>
  <header id="header" class="header header_steps position-relative bg-ice-one">
    <div class="container">
      <div class="row px-15">
        <div class="header__logo-wrapper col-12 d-flex">
          <a
            href="/"
            class="header__logo d-block mt-45 mx-auto ml-xl-0"
          >
            <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
          </a>
        </div>
        <div class="col-12 col-lg-8 col-lg mx-auto mt-30 mt-xl-45">
          <div class="header__progress-wrapper mx-auto">
            <div class="mb-2">
              <%= t 'consent.step_two.step_two_of_five' %>
            </div>
            <div class="header__progress header__progress_step2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header id="header" class="header header_big position-relative bg-ice-one">
    <div class="container">
      <div class="header__logo-wrapper header__logo-wrapper_big d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
    </div>
  </header>
<% end %>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= simple_form_for @step, html: {class: "bg-ice-one border pt-30 px-30"} do |f| %>
        <h3 class="text-center mt-2 mb-15">
          <%= t 'consent.step_two.consent_for_genomic_testing' %>
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 text-justify">
            <%= t 'consent.step_two.this_section_follows_your_consent' %>
            <br>
            <br>
            <%= t 'consent.step_two.if_you_choose_to_unselect' %>
          </p>
        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = step_two_questions.find {|x| x[:question_id] == qf.object.question_id} %>
          <div class="options">
            <div class="steps__row">
              <div class="steps__row-main">
                <div class="mr-auto steps__text-question">
                  <%= current_question[:qus].html_safe %>
                </div>
                <% if current_question[:description] != '' %>
                  <i
                    class="icon__i mr-30 mr-sm-60"
                    data-toggle="collapse"
                    data-target="#stepsRow<%= qf.object.question_id %>"
                    aria-expanded="false"
                    aria-controls="stepsRow1"
                  >
                  </i>
                <% end %>
                <label class="controls controls__checkbox controls__checkbox_blue">
                  <%= qf.check_box :answer, {onclick: 'Options()', checked: qf.object.check_box_checked?(current_question[:default_value])}, 'true', 'false' %>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
                <div class="steps__text-question">
                  <%= current_question[:description].html_safe %>
                </div>
              </div>
            </div>
          </div>
          <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
          <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <% end %>

        <div class="d-flex text-right mt-3 mb-2 pr-3">
          <span class="ml-auto mr-2">
            <%= t :select_all %>
          </span>
          <label class="controls controls__checkbox controls__checkbox_blue">
            <%= check_box_tag("answer_5", "", false, id: "controlsSelectAll", onclick: "selectAllOptions()") %>
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="d-flex text-right pr-3">
          <span class="ml-auto mr-2">
            <%= t :unselect_all %>
          </span>
          <label class="controls controls__checkbox controls__checkbox_blue">
            <%= check_box_tag("answer_5", "", false, id: "controlsUnselectAll", onclick: "unselectAllOptions()") %>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="row flex-md-row">
          <div class="col-6 col-md-3 order-0 d-flex my-15 my-md-30">
            <% if params[:registration_step_two] %>
              <%= link_to(t(:back), step_one_path(registration: true), class: "btn btn-outline-success mr-auto") %>
            <% end %>
          </div>
          <%= f.hidden_field :accepted, value: "1" %>
          <% if params[:registration_step_two] %>
            <div class="col-6 col-md-3 order-1 order-md-2 d-flex my-15 my-md-30">
              <%= f.button :submit, t(:next), name: 'registration_step_three', class: "btn btn-success ml-auto" %>
            </div>
          <% end %>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <% if params[:from_dashboard] %>
              <%= f.button :submit, t(:save_and_exit), name: 'to_dashboard', class: "steps__btn-save btn btn-primary mx-auto" %>
            <% else %>
              <%= f.button :submit, t(:save_and_exit), class: "steps__btn-save btn btn-primary mx-auto" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
