<header id="header" class="header header_steps position-relative bg-ice-one">
  <div class="container">
    <div class="row px-15">
      <div class="header__logo-wrapper col-12 d-flex">
        <a
        href="/"
        class="header__logo d-block mt-45 mx-auto ml-xl-0"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
      <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
        <div class="header__progress-wrapper mx-auto">
          <div class="mb-2">Step 3 of 5</div>
          <div class="header__progress header__progress_step3"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= form_tag('/step_four',method: :get, class: "bg-ice-one border pt-30 px-30") do %>
        <h3 class="text-center mt-2 mb-15">
          Australian Genomics Research Participation
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description text-center mx-auto mb-0">
            By signing the Australian Genomics consent form, you have agreed to participate in the research, alongside
            having the genomic test. The research we are doing will help to decide whether genomic testing should be
            offered as standard care for your health condition. To do this, we would like to collect information about
            you from your health records and information directly from you. The answers are all pre-selected, meaning
            that you understand and agree to participate in the research. If you uncheck any statements below we will
            contact you to talk about whether you still agree to being in the research project.
          </p>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I understand that the researchers will collect information from my <b>health records.</b>
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow1"
              aria-expanded="false"
              aria-controls="stepsRow1"
              >
              </i></div>
            <label class="controls controls__checkbox controls__checkbox_blue">
              <%= check_box_tag("answer_1", "", true) %>
              <span class="checkmark"></span>
            </label>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow1"
          >
            <div>
              We will ask the Commonwealth Government Department of Health for your Medical Benefit Scheme (MBS) and
              Pharmaceutical Benefits Scheme (PBS) information, covering a period of up to 8 years.
              We will ask Data Linkage agencies in each State or Territory of Australia for your hospital inpatient
              records and emergency visit records. This information will cover a period of up to 14 years.
              This information will be very important for us to understand how having a genomic test and a genomic
              diagnosis might reduce the long-term costs of health care for the government. Access to the information is
              tightly regulated to protect your privacy, and we only receive it after applying for it through the proper
              channels. We will also be required to destroy it after we finished using it.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I understand that at times during the research project I will be asked to complete <b>surveys or
                questionnaires.</b> I’ll be reminded when they are ready to complete and know that I can ask for help to do
                them.
              </div>
              <i
              class="icon__i mr-sm-60"
              data-toggle="collapse"
              data-target="#stepsRow2"
              aria-expanded="false"
              aria-controls="stepsRow2"
              >
              </i></div>
            <label class="controls controls__checkbox controls__checkbox_blue">
              <%= check_box_tag("answer_2", "", true) %>
              <span class="checkmark"></span>
            </label>
          </div>
          <div
          class="steps__row-collapse collapse"
          id="stepsRow2"
          >
            <div>
              The surveys and questionnaires will be very important for us to understand aspects like your views of
              genomic testing, your understanding of genomic testing, your personal experiences of the test and the
              financial cost to you of having the test. Sometimes, we also ask you questions about the financial costs
              of having a health condition.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I understand all of the information and statements well enough to answer them.
              </div>
            </div>
            <label class="controls controls__checkbox controls__checkbox_blue">
              <%= check_box_tag("answer_3", "", true) %>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="row flex-md-row">
          <div class="col-6 col-md-3 order-0 d-flex my-15 my-md-30">
            <%= link_to('Back', step_two_path, class: "btn btn-outline-success mr-auto") %>
          </div>
          <div class="col-6 col-md-3 order-1 order-md-2 d-flex my-15 my-md-30">
            <%= submit_tag('Next', class: "btn btn-success ml-auto") %>
          </div>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= link_to('Save and Exit', dashboard_index_path, class: "steps__btn-save btn btn-primary mx-auto") %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</section>