<% if params[:registration_step_five] %>
  <header id="header" class="header header_steps position-relative bg-ice-one">
    <div class="container">
      <div class="row px-15">
        <div class="header__logo-wrapper col-12 d-flex">
          <a
            href="/"
            class="header__logo d-block mt-45 mx-auto ml-xl-0"
          >
            <%= image_tag "logo@2x.png", alt: t(:logo), class: "h-100" %>
          </a>
        </div>
        <div class="col-12 col-lg-8 col-lg mx-auto mt-30 mt-xl-45">
          <div class="header__progress-wrapper mx-auto">
            <div class="mb-2">
              <%= t 'consent.step_five.step_five_of_five' %>
            </div>
            <div class="header__progress header__progress_step5"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header id="header" class="header header_big position-relative bg-ice-one">
    <div class="container">
      <div class="header__logo-wrapper header__logo-wrapper_big d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto"
        >
          <%= image_tag "logo@2x.png", alt: t(:logo), class: "h-100" %>
        </a>
      </div>
    </div>
  </header>
<% end %>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= simple_form_for @step, html: {class: "bg-ice-one border pt-30 px-30"}, method: :put do |f| %>
        <h3 class="text-center mt-2 mb-15">
          <%= t :consent_to_research_outside %>
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 text-justify">
           <%= t 'consent.step_five.genomic_testing_is_not_yet' %>
            <br>
            </br>
            <%= t 'consent.step_five.we_will_remove_personal' %>
            <br>
            </br>
            <%= t 'consent.step_five.de_identified_samples' %>
            <br>
            </br>
            <%= t 'consent.step_five.whether_we_share_this' %>
          </p>
        </div>
        <div class="steps__general text-center py-2 mb-30">
          <b><%= t 'consent.step_five.who_can_have_access' %></b>

        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = step_five_questions.find {|x| x[:question_id] == qf.object.question_id} %>
          <% if current_question[:question_id] <= 25 %>
            <div class="steps__row">
              <div class="steps__row-main d-block d-sm-flex">
                <div class='d-flex w-100'>
                  <div class="mr-auto">
                    <%= current_question[:qus].html_safe %>
                  </div>
                  <% if current_question[:description] != '' %>
                    <i
                      class="icon__i mr-sm-60"
                      data-toggle="collapse"
                      data-target="#stepsRow<%= qf.object.question_id %>"
                      aria-expanded="false"
                      aria-controls="stepsRow1"
                    >
                    </i>
                  <% end %>
                </div>
                <% if current_question[:question_id] == 31 %>
                  <label class="controls controls__checkbox controls__checkbox_blue">
                    <%= qf.check_box :answer, {}, 'true', 'false' %>
                    <span class="checkmark"></span>
                  </label>
                <% else %>
                  <div class="d-flex mt-3 mt-sm-0">
                    <%= qf.collection_radio_buttons :answer,
                                                    [[true, 'Yes'], [false, 'No'], ['not_sure', 'Not Sure']],
                                                    :first,
                                                    :second, checked: qf.object.radio_button_checked?(current_question[:default_value]) do |b|
                      b.label(class: collection_option_class(b.text)) {
                        b.radio_button + "<span class='checkmark'></span><span class='label-text ml-1 mr-1'>".html_safe + b.text + "</span>".html_safe
                      }
                    end %>
                  </div>
                <% end %>
              </div>
              <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
                <div class="steps__text-question">
                  <%= current_question[:description] %>
                </div>
              </div>
            </div>
            <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
            <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <% end %>
        <% end %>

        <div class="steps__general text-center py-2 mb-30">
          <b><%= t 'consent.step_five.what_kinds_of_research' %></b>
        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = step_five_questions.find {|x| x[:question_id] == qf.object.question_id} %>
          <% if current_question[:question_id] >= 26 %>
            <div class="steps__row">
              <div class="steps__row-main d-block d-sm-flex">
                <div class='d-flex w-100'>
                  <div class="mr-auto steps__text-question">
                    <%= current_question[:qus].html_safe %>
                  </div>
                  <% if current_question[:description] != '' %>
                    <i
                      class="icon__i mr-sm-60"
                      data-toggle="collapse"
                      data-target="#stepsRow<%= qf.object.question_id %>"
                      aria-expanded="false"
                      aria-controls="stepsRow1"
                    >
                    </i>
                  <% end %>
                </div>
                <% if current_question[:question_id] == 33 || current_question[:question_id] == 34 %>
                  <label class="controls controls__checkbox controls__checkbox_blue">
                    <%= qf.check_box :answer, {checked: qf.object.radio_button_checked?(current_question[:default_value])}, 'true', 'false' %>
                    <span class="checkmark"></span>
                  </label>
                <% else %>
                  <div class="d-flex mt-3 mt-sm-0">
                    <%= qf.collection_radio_buttons :answer,
                                                    [[true, 'Yes'], [false, 'No'], ['not_sure', 'Not Sure']],
                                                    :first,
                                                    :second, checked: qf.object.radio_button_checked?(current_question[:default_value]) do |b|
                      b.label(class: collection_option_class(b.text)) {
                        b.radio_button + "<span class='checkmark'></span><span class='label-text ml-1 mr-1'>".html_safe + b.text + "</span>".html_safe
                      }
                    end %>
                  </div>
                <% end %>
              </div>
              <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
                <div class="steps__text-question">
                  <%= current_question[:description] %>
                </div>
              </div>
            </div>
            <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
            <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <% end %>
        <% end %>

        <div class="row flex-md-row">
          <div class="col-12 col-md-3 order-0 d-flex my-15 my-md-30">
            <% if params[:registration_step_five] %>
              <%= link_to(t(:back), step_four_path(registration_step_four: true), class: "btn btn-outline-success mx-auto ml-md-0") %>
            <% end %>
          </div>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= f.hidden_field :accepted, value: "1" %>
            <%= f.button :submit, t(:save_and_exit), class: "steps__btn-save btn btn-primary mx-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
