<% if params[:registration_step_four] %>
  <header id="header" class="header header_steps position-relative bg-ice-one">
    <div class="container">
      <div class="row px-15">
        <div class="header__logo-wrapper col-12 d-flex">
          <a
            href="/"
            class="header__logo d-block mt-45 mx-auto ml-xl-0"
          >
            <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
          </a>
        </div>

        <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
          <div class="header__progress-wrapper mx-auto">
            <div class="mb-2">Step 4 of 5</div>
            <div class="header__progress header__progress_step4"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header id="header" class="header header_big position-relative bg-ice-one">
    <div class="container">
      <div class="header__logo-wrapper header__logo-wrapper_big d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
    </div>
  </header>
<% end %>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= simple_form_for @step, html: {class: "bg-ice-one border pt-30 px-30"}, method: :put do |f| %>
        <h3 class="text-center mt-2 mb-15">
          Preferences about your results
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 text-justify">
            <b>Incidental findings:</b>
            Because a genomic test looks at many genes at once, a genetic change that is not related to the specific
            health condition you are being tested for could be found. These incidental findings may be important to know
            about for your health and for your family as well.<br>
            <br>
            An incidental finding is a genetic change that we know or think is linked with certain health conditions
            that the testing laboratory comes across accidentally, despite efforts not to look closely at certain genes.
            It is very uncommon, but you should be aware that it can happen.<br>
            </br>
            Genomic testing services have their own policies about whether they will tell you about incidental findings.
            If your testing is transferred to a research setting they may identify incidental findings. For those that
            do return incidental findings, we would like to know your preferences.
          </p>
        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = QUS[:step_four_questions].find {|x| x[:question_id] == qf.object.question_id} %>
          <div class="steps__row">
            <div class="steps__row-main d-block d-sm-flex">
              <div class='d-flex w-100'>
                <div class="mr-auto steps__text-question">
                  <%= current_question[:qus].html_safe %>
                </div>
                <% if current_question[:description] != '' %>
                  <i
                    class="icon__i mr-sm-60"
                    data-toggle="collapse"
                    data-target="#stepsRow<%= qf.object.question_id %>"
                    aria-expanded="false"
                    aria-controls="stepsRow1"
                  >
                  </i>
                <% end %>
              </div>
              <% if current_question[:question_id] == 21 %>
                <label class="controls controls__checkbox controls__checkbox_blue">
                  <%= qf.check_box :answer, { checked: qf.object.radio_button_checked?(current_question[:default_value]) }, 'true', 'false' %>
                  <span class="checkmark"></span>
                </label>
              <% else %>
                <div class="d-flex mt-3 mt-sm-0">
                  <%= qf.collection_radio_buttons :answer,
                                                  [[true, 'Yes'], [false, 'No'], ['not_sure', 'Not Sure']],
                                                  :first,
                                                  :second, checked: qf.object.radio_button_checked?(current_question[:default_value])  do |b|
                    b.label(class: collection_option_class(b.text)) {
                      b.radio_button + "<span class='checkmark'></span><span class='label-text ml-1 mr-1'>".html_safe + b.text + "</span>".html_safe
                    }
                  end %>
                </div>
              <% end %>
            </div>
            <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
              <div class="steps__text-question">
                <%= current_question[:description] %>
              </div>
            </div>
          </div>
          <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
          <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <% end %>
        <div class="row flex-md-row">
          <div class="col-6 col-md-3 order-0 d-flex my-15 my-md-30">
            <% if params[:registration_step_four] %>
              <%= link_to('Back', step_three_path(registration_step_three: true), class: "btn btn-outline-success mr-auto") %>
            <% end %>
          </div>
          <%= f.hidden_field :accepted, value: "1" %>
          <% if params[:registration_step_four] %>
            <div class="col-6 col-md-3 order-1 order-md-2 d-flex my-15 my-md-30">
              <%= f.button :submit, 'Next', name: 'registration_step_five', class: "btn btn-success ml-auto" %>
            </div>
          <% end %>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= f.button :submit, 'Save and Exit', class: "steps__btn-save btn btn-primary mx-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
