<% if params[:registration_step_three] %>
  <header id="header" class="header header_steps position-relative bg-ice-one">
    <div class="container">
      <div class="row px-15">
        <div class="header__logo-wrapper col-12 d-flex">
          <a
            href="/"
            class="header__logo d-block mt-45 mx-auto ml-xl-0"
          >
            <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
          </a>
        </div>
        <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
          <div class="header__progress-wrapper mx-auto">
            <div class="mb-2">Step 3 of 5</div>
            <div class="header__progress header__progress_step3"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header id="header" class="header header_big position-relative bg-ice-one">
    <div class="container">
      <div class="header__logo-wrapper header__logo-wrapper_big d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
    </div>
  </header>
<% end %>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= simple_form_for @step, html: {class: "bg-ice-one border pt-30 px-30"}, method: :put do |f| %>
        <h3 class="text-center mt-2 mb-15">
          Consent to Australian Genomics research participation
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 text-justify">
            By signing the Australian Genomics consent form, you have agreed to participate in the research, along with
            having the genomic test. Thank you. The research we are doing will help to decide whether genomic testing
            should be standard care for your health condition. To do this, we would like to collect information about
            you from your health records as well as information directly from you. The answers are all pre-selected,
            because you have already agreed to participate in the research.<br>
            </br>
            If you choose to unselect any statements below we will contact you to talk about whether you still agree to
            being in the research project.
          </p>
        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = QUS[:step_three_questions].find {|x| x[:question_id] == qf.object.question_id} %>
          <div class="steps__row">
            <div class="steps__row-main">
              <div class="mr-auto text-justify">
                <%= current_question[:qus].html_safe %>
              </div>
              <% if current_question[:description] != '' %>
                <i
                  class="icon__i mr-30 mr-sm-60"
                  data-toggle="collapse"
                  data-target="#stepsRow<%= qf.object.question_id %>"
                  aria-expanded="false"
                  aria-controls="stepsRow1"
                >
                </i>
              <% end %>
              <label class="controls controls__checkbox controls__checkbox_blue">
                    <%= qf.check_box :answer, {checked: qf.object.checked?(current_question[:default_value])}, 'true', 'false'  %>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
              <div class="text-justify">
                <%= current_question[:description] %>
              </div>
            </div>
          </div>
          <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
          <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
        <% end %>
        <div class="row flex-md-row">
          <div class="col-6 col-md-3 order-0 d-flex my-15 my-md-30">
            <% if params[:registration_step_three] %>
              <%= link_to('Back', step_two_path(registration_step_two: true), class: "btn btn-outline-success mr-auto") %>
            <% end %>
          </div>
          <%= f.hidden_field :accepted, value: "1" %>
          <% if params[:registration_step_three] %>
            <div class="col-6 col-md-3 order-1 order-md-2 d-flex my-15 my-md-30">
              <%= f.button :submit, 'Next', name: 'registration_step_four', class: "btn btn-success ml-auto" %>
            </div>
          <% end %>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= f.button :submit, 'Save and Exit', class: "steps__btn-save btn btn-primary mx-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>