<% if params[:registration_step_five] %>
  <header id="header" class="header header_steps position-relative bg-ice-one">
    <div class="container">
      <div class="row px-15">
        <div class="header__logo-wrapper col-12 d-flex">
          <a
            href="/"
            class="header__logo d-block mt-45 mx-auto ml-xl-0"
            >
            <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
          </a>
        </div>
        <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
          <div class="header__progress-wrapper mx-auto">
            <div class="mb-2">Step 5 of 5</div>
            <div class="header__progress header__progress_step5"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header id="header" class="header header_big position-relative bg-ice-one">
    <div class="container">
      <div class="header__logo-wrapper header__logo-wrapper_big d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto"
          >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
    </div>
  </header>
<% end %>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= simple_form_for @step, html: {class: "bg-ice-one border pt-30 px-30"}, method: :put do |f| %>
        <h3 class="text-center mt-2 mb-15">
          Preferences for sharing of my genetic sample
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 text-justify">
          Genomic testing is not yet routinely done and we still don’t know a lot about genetic changes that cause
          health conditions. Sometimes we would like to share some of your sample or the genomic information and your
          other health related information with other researchers in Australia and internationally. We will only share
          this information with researchers whose projects meet our criteria and have been approved by a <b>Human
            Research Ethics Committee (HREC).</b><br>
          <br>

          A HREC is a group of medical, scientific and ethics experts, as well as members of the public, who look
          closely at planned research to make sure it is going to be beneficial and not harmful to humans. This role
          is taken very seriously, and any study that you are involved in should be able to give you the details of
          their HREC approval.<br>
          <br>

          Whether we share this information outside the current study is your choice, and you can use this section to
          change your mind any time you want to. Your answers to these questions will not stop you having the genomic
          test.<br>
          <br>

          We will remove your personal details from your samples, genomic and health information (de-identify them),
          but there always remains a very small chance someone could work out who you are from your genomic
          information.<br>
          <br>

          De-identified samples are coded and so it remains possible to re-identify you. We will keep the
          re-identification code with us, it will not be shared. By keeping the code, it means that in some cases we
          may be able to contact you if the research finds something that will benefit you personally.

          </p>
        </div>
        <div class="steps__general text-center py-2 mb-30">
          <b>Who can have access to my de-identified samples and information?</b>

        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = QUS[:step_five_questions].find {|x| x[:question_id] == qf.object.question_id} %>
          <% if current_question[:question_id] <= 24 %>
            <div class="steps__row">
              <div class="steps__row-main d-block d-sm-flex">
                <div class='d-flex w-100'>
                  <div class="mr-auto">
                    <%= current_question[:qus] %>
                  </div>
                  <% if current_question[:description] != '' %>
                    <i
                      class="icon__i mr-sm-60"
                      data-toggle="collapse"
                      data-target="#stepsRow<%= qf.object.question_id %>"
                      aria-expanded="false"
                      aria-controls="stepsRow1"
                      >
                    </i>
                  <% end %>
                </div>
                <% if current_question[:question_id] == 31 %>
                  <label class="controls controls__checkbox controls__checkbox_blue">
                    <%= qf.check_box :answer, {}, 'true', 'false' %>
                    <span class="checkmark"></span>
                  </label>
                <% else %>
                  <div class="d-flex mt-3 mt-sm-0">
                    <%= qf.collection_radio_buttons :answer,
                      [[true, 'Yes'], [false, 'No'], ['not_sure', 'Not Sure']],
                      :first,
                      :second do |b|
                        b.label(class: collection_option_class(b.text)) {
                          b.radio_button + "<span class='checkmark'></span><span class='label-text ml-1 mr-1'>".html_safe + b.text + "</span>".html_safe
                        }
                      end %>
                  </div>
                <% end %>
              </div>
              <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
                <div>
                  <%= current_question[:description] %>
                </div>
              </div>
            </div>
            <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
            <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <% end %>
        <% end %>

        <div class="steps__general text-center py-2 mb-30">
          <b>What kinds of research can they do with my de-identified samples and information?</b>
        </div>

        <%= f.simple_fields_for :questions, (@step.questions.count == 0 ? @step.questions : @step.questions.order(question_id: :asc)) do |qf| %>
          <% current_question = QUS[:step_five_questions].find {|x| x[:question_id] == qf.object.question_id} %>
          <% if current_question[:question_id] >= 25 %>
            <div class="steps__row">
              <div class="steps__row-main d-block d-sm-flex">
                <div class='d-flex w-100'>
                  <div class="mr-auto">
                    <%= current_question[:qus] %>
                  </div>
                  <% if current_question[:description] != '' %>
                    <i
                      class="icon__i mr-sm-60"
                      data-toggle="collapse"
                      data-target="#stepsRow<%= qf.object.question_id %>"
                      aria-expanded="false"
                      aria-controls="stepsRow1"
                      >
                    </i>
                  <% end %>
                </div>
                <% if current_question[:question_id] == 31 %>
                  <label class="controls controls__checkbox controls__checkbox_blue">
                    <%= qf.check_box :answer, {}, 'true', 'false' %>
                    <span class="checkmark"></span>
                  </label>
                <% else %>
                  <div class="d-flex mt-3 mt-sm-0">
                    <%= qf.collection_radio_buttons :answer,
                      [[true, 'Yes'], [false, 'No'], ['not_sure', 'Not Sure']],
                      :first,
                      :second do |b|
                        b.label(class: collection_option_class(b.text)) {
                          b.radio_button + "<span class='checkmark'></span><span class='label-text ml-1 mr-1'>".html_safe + b.text + "</span>".html_safe
                        }
                      end %>
                  </div>
                <% end %>
              </div>
              <div class="steps__row-collapse collapse" id="stepsRow<%= qf.object.question_id %>">
                <div>
                  <%= current_question[:description] %>
                </div>
              </div>
            </div>
            <%= qf.input :question_id, as: :hidden, input_html: {value: current_question[:question_id]} %>
            <%= qf.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
          <% end %>
        <% end %>

        <div class="row flex-md-row">
          <div class="col-12 col-md-3 order-0 d-flex my-15 my-md-30">
            <% if params[:registration_step_five] %>
              <%= link_to('Back', step_four_path(registration_step_four: true), class: "btn btn-outline-success mx-auto ml-md-0") %>
            <% end %>
          </div>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= f.hidden_field :accepted, value: "1" %>
            <%= f.button :submit, 'Save and Exit', class: "steps__btn-save btn btn-primary mx-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
