<header id="header" class="header header_steps position-relative bg-ice-one">
  <div class="container">
    <div class="row px-15">
      <div class="header__logo-wrapper col-12 d-flex">
        <a
          href="/"
          class="header__logo d-block mt-45 mx-auto ml-xl-0"
        >
          <%= image_tag "logo@2x.png", alt: "logo", class: "h-100" %>
        </a>
      </div>
      <div class="col-12 col-md-8 col-xl mx-auto mt-30 mt-xl-45">
        <div class="header__progress-wrapper mx-auto">
          <div class="mb-2">Step 4 of 5</div>
          <div class="header__progress header__progress_step4"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="steps steps_pushed-up container">
  <div class="row">
    <div class="steps__box col mx-auto">
      <%= form_tag('/step_five', method: :get, class: "bg-ice-one border pt-30 px-30") do %>
        <h3 class="text-center mt-2 mb-15">
          Preferences for knowing my genomic test results
        </h3>
        <div class="d-flex mb-30">
          <p class="steps__description mx-auto mb-0 justify-text">
            <b>Incidental findings:</b>
            Because a genomic test means looking at many genes at once, a genetic change that is not related to the
            specific health condition you are being tested for could be found. These <b>incidental findings </b>may be
            important to know about for your health and for your family as well.<br>
            <br>

            An incidental finding is a genetic change that we know or think is linked with certain health condition that
            the testing laboratory comes across accidentally, despite efforts not to look closely at certain genes. It
            is very uncommon, but you should be aware that it can happen.<br>
            <br>

            However you choose to answer these questions will not prevent you having the test, but we would like to ask
            for your <u>preference</u> when receiving results.
          </p>
        </div>
        <div class="steps__general text-center py-2 mb-30">
          General
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I want to know about the genetic change if it is <b>medically actionable </b>(<u>will</u> alter
                <u>my health</u> management
                or treatment).
              </div>
              <i
                class="icon__i mr-sm-60"
                data-toggle="collapse"
                data-target="#stepsRow1"
                aria-expanded="false"
                aria-controls="stepsRow1"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_blue ml-sm-15">
                <input
                  type="radio"
                  name="radioRow1"
                  checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1 text-nowrap">Not sure</span>
              </label>
              <label class="controls controls__radio controls__radio_red mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow1"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow1"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
            class="steps__row-collapse collapse"
            id="stepsRow1"
          >
            <div>
              For example, there are some types of cancers that run in families. Sometimes we can find a genetic change
              that means a family is more likely to develop a cancer throughout their lifetime. If this genetic change
              is medically actionable, it means these families can reduce that risk through closer surveillance or
              surgical options.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I want to know about the genetic change even if it is <b>non-medically actionable </b>(<u>will not</u>
                alter <u>my health</u>
                management or treatment)
              </div>
              <i
                class="icon__i mr-sm-60"
                data-toggle="collapse"
                data-target="#stepsRow2"
                aria-expanded="false"
                aria-controls="stepsRow2"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_blue ml-sm-15">
                <input
                  type="radio"
                  name="radioRow2"
                  checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1 text-nowrap">Not sure</span>
              </label>
              <label class="controls controls__radio controls__radio_red mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow2"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow2"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
            class="steps__row-collapse collapse"
            id="stepsRow2"
          >
            <div>
              There are some conditions that we know can run in families and we know the genetic cause of, but cannot be
              treated. An example of this is early onset Alzheimer’s disease. This type of result would mean that you
              would know that you are at risk of developing this condition, but at this time your health management or
              treatment would not change.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I want to know if I am a <b>carrier</b> of a genetic change that can cause disease (it might affect decisions I
                make about having children, or for my grandchildren)
              </div>
              <i
                class="icon__i mr-sm-60"
                data-toggle="collapse"
                data-target="#stepsRow3"
                aria-expanded="false"
                aria-controls="stepsRow3"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_blue ml-sm-15">
                <input
                  type="radio"
                  name="radioRow3"
                  checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1 text-nowrap">Not sure</span>
              </label>
              <label class="controls controls__radio controls__radio_red mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow3"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow3"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
            class="steps__row-collapse collapse"
            id="stepsRow3"
          >
            <div>
              Sometimes we can be “carriers” of genetic changes that do not affect our health but can cause problems
              when we have a baby with a partner who also carries that same genetic change. An example of this is cystic
              fibrosis.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                For any changes that don’t fit in the above categories, my medical team and the testing laboratory can
                decide whether I should be told about the findings on a case by case basis
              </div>
            </div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_blue ml-sm-15">
                <input
                  type="radio"
                  name="radioRow4"
                  checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1 text-nowrap">Not sure</span>
              </label>
              <label class="controls controls__radio controls__radio_red mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow4"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow4"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I would like a summary of the <b>main findings of my genomic testing report</b> stored here, so I can
                access it
                at any time
              </div>
              <i
                class="icon__i mr-sm-60"
                data-toggle="collapse"
                data-target="#stepsRow5"
                aria-expanded="false"
                aria-controls="stepsRow5"
              >
              </i></div>

            <div class="d-flex mt-3 mt-sm-0">
              <label class="controls controls__radio controls__radio_blue ml-sm-15">
                <input
                  type="radio"
                  name="radioRow5"
                  checked="checked"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1 text-nowrap">Not sure</span>
              </label>
              <label class="controls controls__radio controls__radio_red mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow5"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">No</span>
              </label>
              <label class="controls controls__radio controls__radio_green mx-auto ml-sm-15">
                <input
                  type="radio"
                  name="radioRow5"
                >
                <span class="checkmark"></span>
                <span class="label-text ml-1">Yes</span>
              </label>
            </div>
          </div>
          <div
            class="steps__row-collapse collapse"
            id="stepsRow5"
          >
            <div>
              We are developing ways of showing your genomic results in a way that is understandable to you, your family
              and anyone else you would like to show them to. We will make this available to you as soon as it is ready,
              if you indicate that you would like to have it.
            </div>
          </div>
        </div>

        <div class="steps__row">
          <div class="steps__row-main d-block d-sm-flex">
            <div class="d-flex w-100">
              <div class="mr-auto">
                I understand all of the information and statements well enough to answer them.
              </div>
            </div>

            <label class="controls controls__checkbox controls__checkbox_blue">
              <%= check_box_tag("answer_1", "", true) %>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="row flex-md-row">
          <div class="col-6 col-md-3 order-0 d-flex my-15 my-md-30">
            <%= link_to('Back', step_three_path, class: "btn btn-outline-success mr-auto") %>
          </div>
          <div class="col-6 col-md-3 order-1 order-md-2 d-flex my-15 my-md-30">
            <%= submit_tag('Next', class: "btn btn-success ml-auto") %>
          </div>
          <div class="col-12 col-md-6 order-2 order-md-1 d-flex mb-30 mt-md-30">
            <%= link_to('Save and Exit', dashboard_index_path, class: "steps__btn-save btn btn-primary mx-auto") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>