<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.first_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.child_first_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.middle_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.child_middle_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.family_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.child_family_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.date_of_birth' %></b>
  </div>
  <div class="col-6">
    <%= current_user.child_dob %>
  </div>
</div>
