<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.first_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.kin_first_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.middle_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.kin_middle_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.family_name' %></b>
  </div>
  <div class="col-6">
    <%= current_user.kin_family_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t :email %></b>
  </div>
  <div class="col-6">
    <%= current_user.kin_email %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b><%= t 'user_profile.contact_no' %></b>
  </div>
  <div class="col-6">
    <%= current_user.kin_contact_no %>
  </div>
</div>
