<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>First Name</b>
  </div>
  <div class="col-6">
    <%= current_user.kin_first_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Middle Name</b>
  </div>
  <div class="col-6">
    <%= current_user.kin_middle_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Family Name</b>
  </div>
  <div class="col-6">
    <%= current_user.kin_family_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Email</b>
  </div>
  <div class="col-6">
    <%= current_user.kin_email %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    <b>Contact No.</b>
  </div>
  <div class="col-6">
    <%= current_user.kin_contact_no %>
  </div>
</div>