<div class="row no-gutters">
  <div class="col-6"></div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    First Name
  </div>
  <div class="col-6">
    <%= current_user.kin_first_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Middle Name
  </div>
  <div class="col-6">
    <%= current_user.kin_middle_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Family Name
  </div>
  <div class="col-6">
    <%= current_user.kin_family_name %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Email
  </div>
  <div class="col-6">
    <%= current_user.kin_email %>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-6">
    Contact No.
  </div>
  <div class="col-6">
    <%= current_user.kin_contact_no %>
  </div>
</div>