<section class="dashboard dashboard__edit">
  <%= simple_form_for @user, :html => {class: "dashboard__modal position-relative form-control mb-0"} do |f| %>


    <h3 class="h3 text-center">
      <%= t 'user_profile.edit_personal_details' %>
    </h3>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :first_name, label: t('user_profile.first_name'), required: false, placeholder: t('user_profile.first_name'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col mb-30">
        <div class="position-relative">
          <%= f.input :middle_name, label: t('user_profile.middle_name'), required: false, placeholder: t('user_profile.middle_name'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :family_name, label: t('user_profile.family_name'), required: false, placeholder: t('user_profile.family_name'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :dob, as: :string, label: t('user_profile.date_of_birth'), placeholder: 'DD-MM-YYYY', required: false, input_html: { class: 'form-control', autocomplete: 'off', id: 'date-of-birth' } %>
        </div>
        <div id="date-of-birth-pos"></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :email, label: t(:email), required: false, placeholder: t(:email), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :address, label: t('user_profile.address_line'), required: false, placeholder: t('user_profile.address_line'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :suburb, label: t('user_profile.suburb'), required: false, placeholder: t('user_profile.suburb'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :state, collection: User.states.keys, prompt: "Select one", label: t('user_profile.state_territory'), required: false, placeholder: t('user_profile.state_territory'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :post_code, label: t('user_profile.post_code'), required: false, placeholder: t('user_profile.post_code'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :phone_no, label: t('user_profile.mobile_phone'), required: false, placeholder: t('user_profile.mobile_phone'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :preferred_contact_method,collection: User.preferred_contact_methods.keys,label: t('user_profile.preferred_contact_method'), placeholder: t('user_profile.preferred_contact_method'), required: false, include_blank: false, include_hidden: false, input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :study_id, label: t('user_profile.study_id'), required: false, placeholder: t('user_profile.study_id'), input_html: {class: "form-control mb-0"} %>
        </div>
      </div>
    </div>


    <div class="d-flex align-items-center mb-30">
      <p class="mb-0">
        <b><%= t('user_profile.register_as_a_guardian') %></b>
      </p>
      <div class="d-flex ml-auto pl-15">
        <div class="text-dark mr-2"><%= t :no %></div>
        <label class="controls controls__switch">
          <%= f.check_box :is_parent, as: :boolean, input_html: {class: "form-control mb-0"} %>
          <span class="slider"></span>
        </label>
        <div class="ml-2"><%= t :yes %></div>
      </div>
    </div>

    <div id="kin">
      <b><%= t('user_profile.next_of_kin') %></b><br>
      </br>
      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :kin_first_name, label: t('user_profile.first_name'), required: false, placeholder: t('user_profile.first_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :kin_middle_name, label: t('user_profile.middle_name'), required: false, placeholder: t('user_profile.middle_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :kin_family_name, label:  t('user_profile.family_name'), required: false, placeholder: t('user_profile.family_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :kin_contact_no, label: t('user_profile.contact_phone'), required: false, placeholder: t('user_profile.contact_phone'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :kin_email, label: t(:email), required: false, placeholder: t(:email), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>
    </div>

    <div id="child">
      <b><%= t('user_profile.registering_on_behalf_of')%></b><br>
      </br>
      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :child_first_name, label: t('user_profile.first_name'), required: false, placeholder: t('user_profile.first_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :child_middle_name, label: t('user_profile.middle_name'), required: false, placeholder: t('user_profile.middle_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :child_family_name, label: t('user_profile.family_name'), required: false, placeholder: t('user_profile.family_name'), input_html: {class: "form-control mb-0"} %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-30">
          <div class="position-relative">
            <%= f.input :child_dob, as: :string, label: t('user_profile.date_of_birth'), placeholder: 'DD-MM-YYYY', required: false, input_html: {class: 'form-control mb-0', id: 'child-date-of-birth'} %>
          </div>
          <div id="child-date-of-birth-pos"></div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <%= submit_tag(t(:update), class: "btn btn-primary btn-block mb-18 mx-auto") %>
      <%= link_to(t(:cancel), profile_path) %>
    </div>

  <% end %>

</section>
