<section class="dashboard dashboard__edit">
  <%= simple_form_for @user, defaults: {input_html: {class: 'form-control'}}  do |f| %>
  <form class="dashboard__modal position-relative" action="" method="post">

    <div class="icon__close position-absolute"></div>

    <h3 class="h3 text-center">
      Edit personal details
    </h3>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          First Name<%= f.input :first_name, required: false, placeholder: "First Name" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col mb-30">
        <div class="position-relative">
          <%= f.input :middle_name, required: false, placeholder: "Middle Name" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :family_name, required: false, placeholder: "Family Name" %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-30">
        <div class="position-relative">
          <%= f.input :dob, required: false, placeholder: "Date of Birth" %>
          <input
          type="text"
          class="form-control mb-0"
          name="dateBirth"
          id="dateBirth"
          placeholder="Date of Birth"
          readonly
          >
          <label
          for="dateBirth"
          class="position-absolute"
          >
            Date of Birth
          </label>
          <div class="error-label position-absolute">
            can't be blank
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <button
      type="submit"
      class="btn btn-primary btn-block mb-18 mx-auto"
      >
        Update
      </button>
      <a href="#">Cancel</a>
    </div>

  </form>
<% end %>
</section>