
<%= render 'shared/nav_bar' %>

<section class="dashboard pb-sm-60 pb-md-180">

  <div class="container px-md-4">
    <div class="h2 mt-20 mb-15 px-15 px-md-0">
      <%= t 'user_profile.my_personal_details' %>
    </div>
  </div>

  <div class="container px-md-0">
    <div class="row">

      <div class="dashboard__table col-12 col-md-6">
        <div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.first_name' %></b>
            </div>
            <div class="col-6 text-ellipsis">
              <%= current_user.first_name %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.middle_name' %></b>
            </div>
            <div class="col-6 text-ellipsis">
              <%= current_user.middle_name %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.family_name' %></b>
            </div>
            <div class="col-6 text-ellipsis">
              <%= current_user.family_name %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.date_of_birth' %></b>
            </div>
            <div class="col-6">
              <%= current_user.dob %>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard__table col-12 col-md-6">
        <div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t :email %></b>
              <%=
                content_tag :i,
                nil,
                class: 'icon__i icon__i_popover ml-2',
                tabindex: 0,
                role: :button,
                data: {
                  toggle: :popover,
                  trigger: :focus,
                  placement: :bottom,
                  content: t('user_profile.careful_warning_change_email'),
                  html: :true
                }
              %>
              <div class="popover-content d-none">
                <div class="text-dark pb-12 pt-4">
                  <%=
                    t 'user_profile.registered_email_for_the_platform'
                  %>
                </div>
              </div>
            </div>
            <div class="col-6 text-ellipsis">
              <%= current_user.email %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.mobile_phone' %></b>
            </div>
            <div class="col-6">
              <%= current_user.phone_no %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.address' %></b>
            </div>
            <div class="col-6">
              <%= current_user.address %>
              <%= current_user.suburb %>
              <%= current_user.state %>
              <%= current_user.post_code %>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.preferred_contact_method' %></b>
            </div>
            <div class="col-6">
              <%= current_user.preferred_contact_method %>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard__table col-12 col-md-6">
        <div>
          <div class="row no-gutters">
            <div class="col-6">
              <b><%= t 'user_profile.participant_id' %></b>
            </div>
            <div class="col-6">
              <%= @study_user.participant_id %>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard__table col-12 col-md-6">
        <div>
          <div class="row no-gutters">
            <div class="col-6">
              <b>
                <%= t 'user_profile.register_as_a_guardian' %>
              </b>
            </div>
            <div class="col-6">
              <% if current_user.is_parent == true %>
                <%= t :yes %>
              <% elsif current_user.is_parent == false %>
                <%= t :no %>
              <% end %>
            </div>
          </div>
          <div>
            <% if current_user.is_parent == true %>
              <b><%= t 'user_profile.registering_on_behalf_of' %></b>
              <%= render partial: 'users/child_details' %>
            <% else %>
              <b><%= t 'user_profile.next_of_kin' %></b>
              <%= render partial: 'users/kin_details' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-md-4">
    <%= link_to t(:update), edit_profile_path, class: "btn btn-primary update" %>
  </div>

</section>
