<div class="container my-15 my-sm-180">
  <div class="row flex-column">
    <div class="col-12 col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="bg-white border px-15">
        <%= render partial: 'layouts/header-modal' %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),defaults: {input_html: {class: 'form-control mb-0'}})  do |f| %>
          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :email, required: false, autofocus: true , input_html: {class: 'form-control mb-0'}%>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-30">
              <div class="position-relative">
                <%= f.input :password, required: false , input_html: {class: 'form-control mb-0'}%>
                <div class="position-absolute top-0 right-0 h-100 d-flex">
                  <%= link_to "Forgot?", new_password_path(resource_name), class: "d-block my-auto ml-auto text-primary" %>
                </div>
              </div>
            </div>
          </div>
          <% if flash[:alert].present? %>
            <div class="flash alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
          <div class="d-flex">

            <button
            type="submit"
            class="btn btn-primary mb-30 mx-auto">
              Log In
            </button>
          </div>
        <% end %>
      </div>
      <div class="mx-auto text-center py-3 bg-light d-flex flex-column flex-sm-row justify-content-center">
                <span class="d-block">
                    If you don’t have an account, please
                </span>
        <%= link_to "Register", new_registration_path(@user), class: "d-block ml-2 mt-2 mt-sm-0" %>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>