<!DOCTYPE html>
<html>
  <head>
    <title>AGHA</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  <footer class="bg-light justify-content-center text-center position-absolute w-100">
    <%= t 'powered_by_ctrl' %>
  </footer>
  <% render 'layouts/ga_tags' if Rails.env.production? %>
  </body>
</html>
